<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link rel="stylesheet"
        type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet"
        type="text/css" href="{{ url_for('static', filename='23beets.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jPushMenu.css') }}">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/soundmanager2.js') }}"></script>

<!-- configure SM2 for your use -->
<script type="text/javascript">

soundManager.setup({

  // location: path to SWF files, as needed (SWF file name is appended later.)

  url: '{{ url_for('static', filename='swf/') }}',
  html5PollingInterval: 10000,
  // optional: version of SM2 flash audio API to use (8 or 9; default is 8 if omitted, OK for most use cases.)
  // flashVersion: 9,

  // use soundmanager2-nodebug-jsmin.js, or disable debug mode (enabled by default) after development/testing
  debugMode: false,

  // good to go: the onready() callback

  onready: function() {

    // SM2 has started - now you can create and play sounds!

    // var mySound = soundManager.createSound({
    //   id: 'aSound', // optional: provide your own unique id
    //   url: '/item/400/file'
    //   // onload: function() { console.log('sound loaded!', this); }
    //   // other options here..
    // });

    // mySound.play();

  },
  // optional: ontimeout() callback for handling start-up failure

  ontimeout: function() {

    // Hrmm, SM2 could not start. Missing SWF? Flash blocked? No HTML5 audio support? Show an error, etc.?
    // See the flashblock demo when you want to start getting fancy.

  }

});

</script>
    </head>
    <body>
    <nav class="top-bar">
	    <i class="toggle-menu menu-left push-body glyphicon glyphicon-align-justify left-menu-btn"></i>
       <h1 class="home-link"><a href="#">23beets</a></h1>

    </nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
	<h3>Menu</h3>
	<a href="#">Your</a>
	<a href="#">Mum</a>
	<a href="#">Mate</a>
	<a href="#" class="trip-mode">
		<div style="background: url('http://lsd.bicycle-day.com/mark.png'); height: 200px;
			width: 200px;">
		</div>
	</a>
</nav>
    <div id="23beets" class="23beets container">
    <!-- Left menu element-->
       <ul id="artist-list"></ul>
    </div>
    <div class="play-pause-button col-xs-1"><i class="glyphicon glyphicon-music play-pause-icon" style="height: 100%; width: 100%;"></i></div>
    <div id="player-panel"class="col-xs-11" style="padding: 0px;">
	    <div id="progress-bar">
	    	<div class="progBar"></div>
		</div>
    	<div class="playback-info">
    	 <span class="now-playing-info" id="now-playing-album">album placeholder</span>
     	 <span class="now-playing-info" id="now-playing-artist">artist placeholder</span>
			<div id="nowplaying"></div><span id="progress-time"></span>
			<i class="glyphicon glyphicon-step-forward "></i>
		<i class="toggle-menu menu-right glyphicon glyphicon-list pull-right"></i>
		</div>
    </div>

	<script src="{{ url_for('static', filename='bundle.js') }}"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	<!--load jPushMenu, required-->
	<script src="{{ url_for('static', filename='jPushMenu.js') }}"></script>

	<!--call jPushMenu, required-->
	<script>
	$(document).ready(function() {
		$('.toggle-menu').jPushMenu();
	});
	var globalTripID;
	var tripFlag = false;
	var tripMode = function(h) {
		(function loop() {
			h = (h+10)%25360;
			document.documentElement.style.webkitFilter='hue-rotate('+h+'deg)'
			globalTripID = requestAnimationFrame(loop);
		})()
	}
	$('.trip-mode').click(function() {
		if (!tripFlag) {
			console.log('got the thing')
			// globalTripID = requestAnimationFrame(loop);
			tripMode(0);
			tripFlag = true;
		}
		else {
			console.log("trying to cancel")
	  		cancelAnimationFrame(globalTripID);
	  		document.documentElement.style.webkitFilter='hue-rotate(0deg)'
	  		tripFlag = false;
		}
	});
	</script>

    </body>
</html>